* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

:root {
  --teal: rgb(162, 224, 221);
  --dark-grey: rgb(48, 47, 47);
  --white: #fff;
  --light-grey: rgb(64, 79, 110);
}

body {
  max-width: 100%;
}

header {
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 50px;
  background-color: var(--dark-grey);
  line-height: 1.5;
}

h1 {
  color: var(--dark-grey);
  font-size: 48px;
  padding-left: 40px;
  padding-right: 12px;
  text-align: left;
  display: inline-block;
  background-color: var(--teal);
}

ul {
  list-style-type: none;
  margin-right: 20px;
  float: right;
  font-size: 26px;
  padding-top: 10px;
}

li {
  display: inline-block;
  margin: 3px;
  padding-left: 12px;
  padding-right: 12px;
  border-bottom-style: solid;
}

a {
  color: var(--white);
  text-decoration: none;
}

figure {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
}

.starryNight {
  position: relative;
  flex: 1 1 100%;
  padding: 0;
  background-color: white;
}

.firstPic {
  height: 310px;
  width: 100%;
  object-fit: cover;
}

.secondPic {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
}

.textBox {
  position: absolute;
  bottom: 22px;
  right: 17px;
  padding: 10px;
  background-color: var(--teal);
  z-index: 2;
}

h3 {
    font-size: 28px;
    color: var(--dark-grey);
    background-color: var(--teal);   
}

section {
  display: flex;
  margin: 30px;
  width: 100%;
}

aside {
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 10px;
  float: left;
  width: 15%;
  border-color: var(--light-grey);
  border-right-style: solid;
}

h2 {
  font-size: 48px;
  color: var(--light-grey);
  text-align: right;
  padding: 5px;
}

article {
  float: right;
  width: 80%;
  padding-left: 10px;
}

p {
  color: var(--light-grey);
  line-height: 1.5;
  padding-bottom: 20px;
}

h4 {
  font-size: 24px;
  line-height: 2;
  color: var(--dark-grey);
  background-color: var(--teal);
}

.Works {
  background-color: white;
  width: 80%;
  padding: 0px 0px 0px;
  margin: 0px;
  border-style: none;
}

button {
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #772014;
  color: #af1f1f;
}

.Works-Large {
  display: block;
  width: 100%;
}

.baseball {
  max-width: 100%;
  width: 100%;
  padding: 300px 0px 20px 0px;
  border-color: var(--teal);
  border-width: 5px;
  border-style: solid;
  background-image: url(../images/MLB.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.Works-Small {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.Led,
.Calculator,
.Pastel,
.Run {
  max-width: 50%;
  width: 100%;
  padding: 300px 0px 20px 0px;
  width: 49%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-color: var(--teal);
  border-width: 5px;
  border-style: solid;
  padding: 100px 0px 20px 0px;
}

.Led {
  background-image: url(../images/LED.jpg);
}

.Calculator {
  background-image: url(../images/Calculator.jpg);
}

.Pastel {
  background-image: url(../images/Pastel.jpg);
}

.Run {
  background-image: url(../images/Run.jpg);
}

div p {
  padding-bottom: 0px;
}

div {
  float: left;
  text-align: left;
  background-color: var(--teal);
  padding: 0px 7px 7px;
  }

.Contact {
  background-color: white;
  width: 80%;
  padding-top: 45px;
}

.Contact ul {
  display: flex;
  justify-content: space-evenly;
  float: none;
  text-align: center;
}

.Contact a {
  color: var(--light-grey);
}
