* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --teal: rgb(162, 224, 221);
    --dark-grey: rgb(48, 47, 47);
    --white: #fff;
    --light-grey: rgb(64, 79, 110);
}

body {
    max-width: 100%;
}

header {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 50px;
    background-color: var(--dark-grey);
    line-height: 1.5;
}

h1 {
    color: var(--dark-grey);
    font-size: 48px;
    padding-left: 40px;
    padding-right: 12px;
    text-align: left;
    display: inline-block;
    background-color: var(--teal);
}

ul {
    list-style-type: none;
    margin-right: 20px;
    float: right;
    font-size: 26px;
    padding-top: 10px;
}

li {
    display: inline-block;
    margin: 3px;
    padding-left: 12px;
    padding-right: 12px;
    border-bottom-style: solid;
}

a {
    color: var(--white);
    text-decoration: none;
}

figure {
    display: flex;
    background-image: url(../images/Hussle.jpg);
    height: 310px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

h3 {
    align-self: flex-end;
    font-size: 28px;
    color: var(--dark-grey);
    background-color: var(--teal);
    margin-left: 80%;
    margin-bottom: 2%;
    padding: 10px;
}

main {}

section {
    display: flex;
    margin: 30px;
    width: 100%;
}

aside {
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    float: left;
    width: 25%;
    border-color: var(--light-grey);
    border-right-style: solid;
}

h2 {
    font-size: 48px;
    color: var(--light-grey);
    text-align: right;
    padding: 5px;
}

article {
    float: right;
    width: 70%;
    padding-left: 10px;

}

p {
    text-align: left;
    color: var(--light-grey);
    line-height: 1.5;
    padding-bottom: 20px;
}




h4 {
    font-size: 24px;
    text-align: left;
    line-height: 2;
    color: var(--dark-grey);
    background-color: var(--teal);
}

.Works {

    background-color: white;
    width: 70%;
    padding: 0px 0px 0px;
    margin: 0px;
    border-style: none;
}

button {
    width: 438px;
    margin: 10px;
    border-color: var(--teal);
    border-style: solid;
    padding: 100px 0px 20px 0px;
}

.Works-Large {
    display: block;
    width: 100%;
}

.Surf {
    max-width: 100%;
    width: 98%;
    padding: 300px 0px 20px 0px;
    background-image: url(../images/Surf.jpg);
}

.Works-Small {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.Led {
    background-image: url(../images/LED.jpg);
}

.Calculator {
    background-image: url(../images/Calculator.jpg);
}

.Pastel {
    background-image: url(../images/Pastel.jpg);
}

.Run {
    background-image: url(../images/Run.jpg);
}

div p {
    padding-bottom: 0px;
}

div {
    background-color: var(--teal);
    width: 150px;
    padding: 0px 7px 7px;
    border-style: none;
}